body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Poppins, sans-serif;
}
.navbar-toggler {
    border-color: #ff0000;
    
}

.navbar-toggler-icon {
    filter: invert(1);
}


.container {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    margin-top: 140px;
    position: relative;
    background: #000;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
}

.header {
    width: 100%;
    height: 70px;
    background: #001019;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    z-index: 9999 !important;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: relative;
    z-index: 9999 !important;
}

.menu-bar {
    margin-left: 20px;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px;
    background-color: #04121d;
    
}

.menu-item {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-left: -3%;
    text-decoration: none;
    position: relative;
    z-index: 9999 !important;
}

.title {
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
    margin-top: 160px;
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.line {
    position: relative;
    z-index: 50;
    margin-left: 40px;
    margin-top: 10px;
    width: 350px;
    height: 4px;
    background: white;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
}


