body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Poppins, sans-serif;
}
.navbar-toggler {
    
    border-color: #ffffff;
}
.navbar-toggler-icon {
    filter: invert(1);  /* membalik warna jadi putih */
}
.container {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    margin-top: 140px;
    position: relative;
    background: #000;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
}

.header {
    width: 100%;
    height: 70px;
    background: #001019;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    z-index: 9999 !important;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: relative;
    z-index: 9999 !important;
}

.menu-bar {
    margin-left: 20px;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px;
    background-color: #04121d;
    
}

.menu-item {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-left: -3%;
    text-decoration: none;
    position: relative;
    z-index: 9999 !important;
}

.title {
    margin-top: 160px;
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.line {
    position: relative;
    z-index: 50;
    margin-left: 40px;
    margin-top: 10px;
    width: 350px;
    height: 4px;
    background: white;
}
.logo-contact {
    opacity: 0;
    animation: fadeLeft 1.5s ease-in-out forwards;
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: relative;
    top: 40px;
    left: 60px;
    z-index: 9999 !important;
}
h1 {
    position: relative;
    top: 40px;
    left: 50px;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    z-index: 9999 !important;
}
h3{
    opacity: 0;
    animation: fadeRight 1.5s ease-in-out forwards;
    position: relative;
    top: -30px;
    left: 135px;
    color: #036033;
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    z-index: 9999 !important;
}
h2{
    opacity: 0;
    animation: fadeRight 1.5s ease-in-out forwards;
    position: relative;
    top: -40px;
    left: 135px;
    color: #fff;
    font-size: 28px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    z-index: 9999 !important;
}
h5{
    opacity: 0;
    animation: fadeRight 1.5s ease-in-out forwards;
    position: relative;
    top: -45px;
    left: 70px;
    color: #85C226;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    z-index: 9999 !important;
}
h4{
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
    position: relative;
    top: -40px;
    left: 70px;
    color: #fff;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    z-index: 9999 !important;
}
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-80px); /* mulai dari kiri */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* kembali ke posisi normal */
    }
}
@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(80px); /* mulai dari kanan */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* kembali ke posisi normal */
    }
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px); /* mulai dari bawah */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* naik ke posisi normal */
    }
}