body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Poppins, sans-serif;
}
.navbar-toggler {
    
    border-color: #ffffff;
}
.navbar-toggler-icon {
    filter: invert(1);  /* membalik warna jadi putih */
}
.container {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    margin-top: 140px;
    position: relative;
    background: #000;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
}

.header {
    width: 100%;
    height: 70px;
    background: #001019;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    z-index: 9999 !important;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: relative;
    z-index: 9999 !important;
}

.menu-bar {
    margin-left: 20px;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px;
    background-color: #04121d;
    
}

.menu-item {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-left: -3%;
    text-decoration: none;
    position: relative;
    z-index: 9999 !important;
}

.title {
    margin-top: 160px;
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.line {
    position: relative;
    z-index: 50;
    margin-left: 40px;
    margin-top: 10px;
    width: 350px;
    height: 4px;
    background: white;
}
h1{
    animation: fadeIn 2s ease-in-out forwards;
   position: relative;
    top: 10px;
    left: -50px;
    color: #fff;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    text-align: center;
    font-weight: 400;
    z-index: 9999 !important;
}
/* Gallery Grid */
.gallery {
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    z-index: 100 !important;
    position: relative;
}

/* Style gambar */
.gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .3s ease, box-shadow .3s ease;
}

/* Hover efek */
.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
}
