body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Poppins, sans-serif;
}
.navbar-toggler {
    
    border-color: #ffffff;
}
.navbar-toggler-icon {
    filter: invert(1);  /* membalik warna jadi putih */
}
.container {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    margin-top: 140px;
    position: relative;
    background: #000;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
}

.header {
    width: 100%;
    height: 70px;
    background: #001019;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    z-index: 9999 !important;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: relative;
    z-index: 9999 !important;
}

.menu-bar {
    margin-left: 20px;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px;
    background-color: #04121d;
    
}

.menu-item {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-left: -3%;
    text-decoration: none;
    position: relative;
    z-index: 9999 !important;
}

.title {
    opacity: 0;
    animation: fadeRight 1.5s ease-in-out forwards;
    margin-top: 30px;
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: 40px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

p{
    margin-top: 20px;
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.fasilitas {
    opacity: 0;
    animation: fadeLeft 1.5s ease-in-out forwards;
    margin-top: 20px;
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: 60px;
    padding-right: 40px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h4{
    margin-top: 20px;
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: -30px;
    padding-right: 40px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 600;
}
@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(80px); /* mulai dari kanan */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* kembali ke posisi normal */
    }
}
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-80px); /* mulai dari kiri */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* kembali ke posisi normal */
    }
}